## ignore logs
logs/*
!logs/.keep

## ignore backup
backup/*
!backup/.keep

## ignore vitual hosts
.nginx/etc/nginx/hosts/*
!.nginx/etc/nginx/hosts/template-conf
!.nginx/etc/nginx/hosts/template-v5-conf
!.nginx/etc/nginx/hosts/template-ssl-conf

## ignore phpstopm metadata
.idea

## ignore www
htdocs/*
!htdocs/.keep

## ignore ssl
.nginx/etc/nginx/ssl/*
!.nginx/etc/nginx/ssl/.keep

