## ignore logs
logs/*
!logs/.keep

## ignore backup
backup/*
!backup/.keep

## ignore vitual hosts
.nginx/etc/nginx/hosts/*
!.nginx/etc/nginx/hosts/template-conf
!.nginx/etc/nginx/hosts/template-v5-conf
!.nginx/etc/nginx/hosts/template-ssl-conf
!.nginx/etc/nginx/hosts/default.conf

## ignore phpstopm metadata
.idea
.pki

## ignore www
htdocs/*
!htdocs/.keep

## ignore ssl dir
.nginx/etc/nginx/ssl

